<div class="main-div">

  <div class="container">
    <div class="carousel">
      <!--top carousel -->
      <ng-container *ngFor="let picture of pictures; let i = index">
        <img *ngIf="i === currentSlide" src='{{"https://picsum.photos/id/" + picture.id + "/900/900"}}'
          alt="Authour Url Image" class="slide" @pictureAnimation />
      </ng-container>
      <!-- controls for top carousel -->
      <button class="control prev" (click)="onPreviousClick()">
        <span class="arrow left"></span>
      </button>
      <button class="control next" (click)="onNextClick()">
        <span class="arrow right"></span>
      </button>
    </div>
  </div>

  <!-- select input binding author to parse selected data -->
  <div class="select-div">
    <h4 class="select-title-1">Search by Artist</h4>
    <select [(ngModel)]="authorSelected" (ngModelChange)="getAuthPictures($event)" class="select">
      <option *ngFor="let picture of pictures.slice(1)" [value]="picture.author">{{picture.author}}</option>
    </select>
  </div>

  <!-- list of selected data which is filtered by author in component.ts -->
  <div class="main-content-wrapper-div">
    <div *ngFor="let picture of selectedPictures; let i = index">
      <div *ngIf='authorSelected == picture.author' class="selectedList">
        <img class="select-list-pic" src='{{"https://picsum.photos/id/" + picture.id + "/300/300"}}'
          alt="Authour Url Image" (click)="openModal(picture.id)" />
        <h2 class="select-list-author">{{picture.author}}</h2>
      </div>
    </div>
    
    <!-- modal container for selected image div -->
    <div id="imgModal" class="slide-modal">
      <span class="close cursor" (click)="closeModal()">&times;</span>
      <div class="slide-modal-content">
        <ng-container *ngFor="let picture of selectedPictures; let i = index">

          <img *ngIf="i == slideIndex && authorSelected == picture.author"
            src='{{"https://picsum.photos/id/" + picture.id + "/600/600"}}'>
          <div *ngIf="i == slideIndex" class="selected-modal-div">
            <p>Author: <br /><span class="modal-pic-author">{{picture.author}}</span></p>
            <p>Dimensions: <br /> <span class="modal-pic-dimension">({{picture.width}}px, {{picture.height}}px)</span>
            </p>
            <p>Find Author: <a href="{{picture.author_url}}" target="_blank" class="modal-links">Here</a></p>
            <p>Original Source: <a href="{{picture.post_url}}" target="_blank" class="modal-links">Here</a></p>
          </div>
        </ng-container>
        <!-- modal carousel buttons -->
      </div>
      <a class="prev" (click)="onPrevious()">&#10094;</a>
      <a class="next" (click)="onNext()">&#10095;</a>
    </div>
</div>