body {
    padding: 0;
    margin: 0;
    font-family: system-ui;
    background-color: #3a3942;
}

.main-title {
    display: inline-flex; 
    width: 100%; 
    justify-content: center; 
    color: whitesmoke; 
    padding-top: 30px;
}